<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Parallax background hero</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/css/home.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="hero">
  
  <div class="parallax-layer layer-6"></div>
  <div class="parallax-layer layer-5"></div>
  <div class="parallax-layer layer-4"></div>
  <div class="parallax-layer bike-1"></div>
  <div class="parallax-layer bike-2"></div>
  <div class="parallax-layer layer-3"></div>
  <div class="parallax-layer layer-2"></div>
  <div class="parallax-layer layer-1"></div>
  <div class="logo">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/logo.svg" alt=""  />
  </div>
</div>
<!-- 
<nav>
  <ul>
    <li><a href="#">Forside</a></li>
    <li><a href="#">Vejr</a></li>
    <li><a href="#">Tilmelding</a></li>
    <li><a href="#">Galleri</a></li>
    <li><a href="#">Sponsorer</a></li>
    <li><a href="#">kontakt</a></li>
  </ul>
</nav>

<div class="light-bg">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/Group_4.svg" alt="" />
</div>



<div class="dark-bg">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/24650/Group_5.svg" alt="" />
</div>

<div class="light-bg">
<p class="extra">Jyske Ås arrangeres af Lions Club Dronninglund med det formål at samle midler ind til uddeling i henhold til Lions formålet. Alt indsamlet bliver uddelt og alt arbejde er frivilligt arbejde. Alt administration betales af Lions medlemmerne.</p>
  </div>


<script>
WebFontConfig = {
    google: { families: [ 'Lato:400,300,300italic,400italic,700,700italic,900,900italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); 
</script> -->
<!-- partial -->
  
</body>
</html>
